<div class="col-lg-6 col-md-7">
<div class="panel panel-default" >

    <table class="table  table-hover">
            <tr>
                <td>basic</td>
                <th>code</th>
                <th>name</th>
                <th>sym</th>
                <th>rate</th>
                <th>upd</th>
                <th>edit</th>
                <th>del</th>
            </tr>
        <tbody ng-repeat='currency in service.myCurrencies'>
        <tr ng-if="currency!=service.activeCurrency">
            <td >
                <input   ng-disabled="service.lock" type="radio"
                        ng-model="service.basicCurrency" ng-value=currency.code >
            </td>
            <td >
                {{currency.code}}
            </td>
            <td>
                {{currency.name}}
            </td>
            <td >
                {{currency.symbol}}
            </td>
            <td >
                {{currency.course|number:2}}
            </td>
            <td  >
                <input type="checkbox" disabled ng-model="currency.update" >
            </td>

            <td>
                <a   href='' ng-hide="service.lock" ng-click='service.edit(currency)'>
                    <span class="glyphicon glyphicon-edit btn-default"></span>
                </a>
            </td>
            <td>
                <a   href='' ng-hide="service.lock" ng-click='service.del(currency.id)'>
                    <span class="glyphicon glyphicon-remove-sign btn-danger"></span>
                </a>
            </td>
        </tr>
        <tr ng-if="currency==service.activeCurrency">
            <td >
                <input  type="radio" ng-disabled="service.lock"
                        ng-model="service.basicCurrency" ng-value=currency.code >
            </td>
             <td>
                {{currency.code}}
            </td>
            <td>

            <input class='form-control' ng-model='currency.name' type='text'>
           </td>
            <td>
                <input class='form-control' style="width: 50px" ng-model='currency.symbol' type='text'>
            </td>
            <td >

                <span ng-show="currency.update" >{{currency.course|number:2}}</span>
                <input ng-hide="currency.update" class='form-control' style="width: 100px"
                       ng-model='currency.course'>
           </td>
            <td >
                <input type="checkbox" ng-model="currency.update"
                       ng-disabled="currency.code==service.basicCurrency"
                       ng-change="getCourse(currency)">
            </td>

            <td>
                <a  href='' ng-hide="service.lock||!currency.course" ng-click='service.addCurrency(currency)'>
                    <span class="glyphicon glyphicon-ok btn-success"></span>
                </a>
                <a  href='' ng-hide="service.lock||!currency.course" ng-click='service.activeCurrency=null'>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
    <button class="btn btn-default" ng-click="service.refreshRates();">update</button>
</div>
<div class="col-lg-5 col-md-5">

    <div class="panel panel-default">
        <label ng-show="service.lock">Please wait....</label>
        <form  name="currencyForm" role='form' class="form-horizontal" ng-hide="service.lock">
            <div class="form-group">
                <div class="col-xs-4 ">
                    <input class="form-control" type="text" disabled="true"
                           ng-model="service.newCurrency.code">
                </div>
                <label class="col-xs-6  control-label">New Currency</label>

            </div>
            <div  class="form-group">

                <div class="col-xs-6 ">
                           <input class="form-control" type="text" placeholder=" name"
                           ng-model="service.newCurrency.name">
                </div>
                <div class="col-xs-3 ">
                    <input class="form-control" type="text"
                           ng-model="service.newCurrency.symbol">
                </div>
            </div>
            <div ng-hide="!service.basicCurrency||service.basicCurrency==service.newCurrency.code" class="form-group">
                <label class="col-xs-2  control-label">Rate </label>
                <div class="col-xs-4">

                    <input class="form-control" type="text" ng-disabled="service.newCurrency.update"
                           ng-model="service.newCurrency.course">
                </div>

                <label class="col-xs-3  control-label">updated</label>
                <div class="col-xs-2">
                    <input  type="checkbox"
                           ng-model="service.newCurrency.update">
                </div>

            </div>
            <div  class="form-group">

                <div class="col-xs-10 col-xs-offset-1">

                   <select  ng-model="addedCurrency" class="form-control"
                         ng-options="currency as id + ' - ' + currency.name  for (id, currency) in service.allCurrency">
                   </select>
                </div>
            </div>

            <div ng-show="addedCurrency" class="form-group">
                <div class="col-xs-1 col-xs-offset-1">
                    <button class='btn btn-primary' ng-click='service.addCurrency(service.newCurrency)'

                           ng-disabled="!service.newCurrency.course&&service.basicCurrency">Add new </button>
                     </div>

                <div ng-hide="service.basicCurrency" class="col-xs-1 col-xs-offset-4">
                    <span style="color: red">Set Basic!!!</span>
                   <input type="checkbox" ng-model="service.newCurrency.basic">
                    </div>
            </div>
            {{service.basicCurrency}}{{service.newCurrency.course}}
        </form>
    </div>
</div>

