<div class="col-xs-5 " >
    <table class="table  table-hover">

        <tbody ng-repeat='currency in service.myCurrencies'>
        <tr >
            <td >
                {{currency.code}} {{currency.name}}
            </td>
            <td >
                {{currency.value}} <input type="checkbox" ng-model="currency.update" >
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-5 ">
    <ul class="nav nav-pills">
        <li >
            <a data-toggle="tab" href="" ng-click="mode='new'">add</a>
        </li>
        <li >
            <a data-toggle="tab" href="" ng-click="mode='edit'">edit</a>
        </li>
    </ul>
    <div class="panel panel-default">
        <form ng-show="mode=='new'" name="currencyForm" role='form' class="form-horizontal">
            <div class="form-group">
                <label class=" col-xs-offset-1 control-label">Create new Currency</label>
            </div>
            <div  class="form-group">
                <div class="col-xs-3 ">
                    <input class="form-control" type="text" disabled="true"
                           ng-model="service.newCurrency.code">
                </div>
                <div class="col-xs-6 ">
                           <input class="form-control" type="text" placeholder=" name"
                           ng-model="service.newCurrency.name">
                </div>
                <div class="col-xs-3 ">
                    <input class="form-control" type="text"
                           ng-model="service.newCurrency.symbol">
                </div>
            </div>
            <div ng-hide="!service.basicCurrency||service.basicCurrency==service.newCurrency.code" class="form-group">
                <label class="col-xs-2  control-label">course</label>
                <div class="col-xs-3 ">

                    <input class="form-control" type="text" ng-disabled="service.newCurrency.update"
                           ng-model="service.newCurrency.value">
                </div>
                <label class="col-xs-2  control-label">updated</label>
                <div class="col-xs-2">

                    <input  type="checkbox"
                           ng-model="service.newCurrency.update">
                    </div>
                <button name="get" ng-click="service.getCourse()">get</button>
            </div>
            <div  class="form-group">

                <div class="col-xs-10 col-xs-offset-1">

                   <select  ng-model="addedCurrency" class="form-control"
                         ng-options="currency as id + ' - ' + currency.name  for (id, currency) in service.allCurrency">
                   </select>
                </div>
            </div>

            <div ng-show="addedCurrency" class="form-group">
                <div class="col-xs-1 col-xs-offset-1">
                    <button class='btn btn-primary' ng-click='service.addCurrency()'
                            ng-disabled="">Add new </button>
                     </div>

                <div ng-hide="service.basicCurrency" class="col-xs-1 col-xs-offset-4">
                    <span style="color: red"> NO Basic!!!</span>
                    <button class='btn btn-default'
                            ng-click='service.setBasic(newCurrency.code)'>Set Basic</button>
                </div>
            </div>
            {{service.basicCurrency}}{{service.newCurrency.value}}
        </form>

        <form ng-show="mode=='edit'" name="editCategoriesForm" role='form' class="form-horizontal">
            <div class="form-group">
                <label  class=" col-xs-offset-1 control-label">Edit Category</label>
            </div>
            <div  class="form-group">
                <div class="col-xs-8 col-xs-offset-1">
                    <input class="form-control" type="text"
                           ng-model="activeCategory.name">
                </div>
            </div>
            <div  class="form-group">
                <label class="col-xs-5  control-label">parentCategory:</label>


                <div class="col-xs-5" ordered-list="categories" index="categoriesIndex"
                     id="activeCategory.parentId"  editable="false" open="isCategoriesOpen">
                </div>

            </div>

            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-1">
                    <button class='btn btn-primary' ng-click='addCategory()'
                            ng-disabled="!activeCategory.id">Edit</button>
                </div>
                <div class="col-xs-1 col-xs-offset-2">
                    <button ng-show="activeCategory.id"
                            class='btn btn-danger' ng-click='deleteCategory()'>Del</button>
                </div>
                <div class="col-xs-1 col-xs-offset-1">
                    <button class='btn btn-default' ng-click='eraseForm()'>Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>

